

.comp-img{
    transition: 0.3s;
}

.comp-img:hover{
    transform: scale(1.1);
    z-index: 1;
}

.company-group{
    background-color: #16191d;
}

.company-card{
    background-color: #16191d;
}   