.about-card{
    background-color: #16191d;
}

.about-card-body{
    background-color: #16191d;
}

.wholeabout{
    background-color: #16191d;

}

.about-text{
    color: #f8f9fa;
}
.group{
    background-color: #16191d;
}

.aboutlog{
    width: 60px;
    height: 65px;
}